* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: red;
    padding: 16px 0;
    margin-bottom: 24px;
}

header h1 a, a {
    text-decoration: none;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
}

header nav li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav li a:hover {
    background-color: rgba(128, 128, 128, 0.192);
    padding: 5px;
    transition: .40s ease-out;
    font-weight: bold;
}

ul {
    list-style: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 49%;
    margin: 0 auto;
}

article p {
    padding: 8px 0;
    font-family: 'Radley', serif;
}

article a {
    background-color: red;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

article a:hover {
    text-decoration: underline;
}

footer p {
    background-color: red;
    color: white;
    padding: 5px;
    text-align: center;
}

/* Mobile */

@media screen and (max-width: 767px) {

    header .container {
        display: block;
        text-align: center;
    }

    header nav li a:hover {
        padding: 4px;
        transition: none;
    }

    section .articles {
        display: block;
    }

    .articles article {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

/* Tablets */

@media screen and (max-width: 1297px) and (min-width: 768px) {

    .articles article {
        width: 40%;
        margin: 0 auto;
    }
}

/* Desktop */

@media screen and (min-width: 1298px) {

    .articles article {
        width: 40%;
        margin: 0 auto;
    }
}






